/* Categories */
.categories {
  padding: 10px;
  text-align: center;
  background: #000000;
  background-color: #1c1c1c;
  padding-bottom: 100px;
  
}

.categories h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: white;
}

.category-grid {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
  flex-wrap: wrap;
}


/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 800;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;

  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  max-width: 150px;
  transition: all 0.3s;
  margin-top: 10px;
}
.cssbuttons-io-button:hover {
  scale: 1.07;
}

.cssbuttons-io-button .icon {
  background: rgb(26, 26, 26);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #ffffff;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #ffffff;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);

}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

  .category-item {
  background: #191919; /* dark card background */
  border-radius: 12px;
  min-height: 200px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  font-weight: 600;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 70px rgba(89, 89, 89, 0.3);
  color: white;
}

.category-item img {
  max-width: 50px;
  margin-bottom: 12px;
  filter: brightness(0) saturate(0%) invert(75%) sepia(1%) saturate(482%) hue-rotate(0deg) brightness(100%) contrast(100%);
  /* This turns icons into a gold-like color */
  transition: transform 0.2s ease;
}

.category-item h3 {
  color: #FFD700; /* gold title */
  margin: 10px 0;
  font-size: 18px;
}

.category-item p {
  font-size: 14px;
  color: #d1d1d1;
}




